.card {
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.24);
    transition: background-color 1s ease;
    cursor: pointer;
}

.card,
.card-header,
.card-footer {
    border: none;
    border-radius: 0;
}

.card-header,
.card-footer {
    padding: 1rem .5 rem;
    background-color: transparent;
}

#location-wrapper {
    font-size: 1.1rem;
}

#location-icon {
    padding-right: .5rem;
}

.card-block {
    padding: 1.5rem 0;
}

#indicator {
    height: 165px;
    position: relative;
}

#indicator i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin: -8% 0 0 -25%;
}

canvas {
    max-width: 250px;
    margin-bottom: 1rem;
}

.card-block,
.card-footer {
    text-align: center;
}

.card-footer {
    padding-bottom: .5rem;
}

#detail-row {
    font-size: .8rem;
}

#helper-row {
    padding-top: .5rem;
}

p {
    margin: .2rem;
    text-transform: uppercase;
}

.windSpeed {
    text-transform: none;
}

.currentLocation {
    font-size: 1.2rem;
}

.displayTempUnit {
    font-size: 1.5rem;
}